#
# Autoboot options
#
CONFIG_BOOTDELAY=0

#
# Console
#
CONFIG_DISABLE_CONSOLE=y
CONFIG_LOGLEVEL=0
CONFIG_SILENT_CONSOLE=y

#
# MMC Host controller Support
#
CONFIG_SUPPORT_EMMC_RPMB=y

#
# Init options
#
# CONFIG_DISPLAY_CPUINFO is not set

#
# Android Verified Boot
#
CONFIG_AVB_VERIFY=y
CONFIG_LIBAVB=y
CONFIG_CMD_AVB=y

#
# OP-TEE
#
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_OPTEE_TA_AVB=y
CONFIG_CMD_OPTEE_RPMB=y
